<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Microsoft Graph API</h1>
    <h3>/me endpoint response</h3>
<table> 
    <tbody>
        <% for(var i=0; i<profile.length; i++) {%>
        <tr>
            <td>profile[0]</td>
            <td>profile[1]</td>
        </tr>
        <% } %>
    </tbody>
</table>
<br>
<a href="/">Go back</a>
  </body>
</html>
